.sign-up-container {
    display: flex;
    flex-direction: column;
    width: 380px;
  
    h2 {
      margin: 10px 0px;
    }
  
    .buttons-container {
      display: flex;
      justify-content: space-between;
      
    }
  
    @media (max-width: 768px) {
      
      .sign-up-container {
        width: 100%;
        padding: 0 15px;
        margin: 10px;
      }
  
      .buttons-container {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
      }
    }
  }
  