.categories-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    // Responsive styles
    @media screen and (max-width: 768px) {
      justify-content: space-around;
    }
  
    @media screen and (max-width: 480px) {
      justify-content: center;
    }
  }
  